@model ICollection<EventsApp.Models.MainEvent>

@{
    ViewData["Title"] = "Rezerwacje";
}

@foreach (var item in Model)
{
    <div class="well">
        <div class="media">
            @{
                var base64 = Convert.ToBase64String(item.picture);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            <img class="media-object pull-left" src="@imgSrc" style="max-width:200px; max-height:200px;">
            <div class="media-body">
                <h4 class="media-heading">@item.title</h4>
                <p class="text-justify">@item.description</p>
                @{
                    int count = 0;
                    foreach (var t in ViewBag.tickets)
                    {
                        if (item.MainEventId == t.MainEventId) count++;
                    }
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i>@item.dateStart - @item.dateEnd</span></li>
                    </ul>
                    <ul class="list-inline list-unstyled">
                        <li><span>Zarezerwowana ilość biletów:<b> @count</b></span></li>
                        <li>
                            <a asp-action="DeleteTickets" asp-controller="Tickets" asp-route-id="@item.MainEventId" class="btn-danger">
                                Usuń rezerwację
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
}