@model EventsApp.Models.MainEvent

@{
    ViewData["Title"] = "Details";
}
<article>
    @{
        var base64 = Convert.ToBase64String(Model.picture);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    <img src="@imgSrc" alt="" class="img-fluid mb30">
    <div class="post-content">
        <h3>@Model.title</h3>
        <ul class="post-meta list-inline">
            <li class="list-inline-item">
                <i class="fa fa-user-circle-o"></i>@Model.Organizer.name
            </li>
            <li class="list-inline-item">
                <i class="fa fa-calendar-o"></i>@Model.dateStart - @Model.dateEnd
            </li>
            <li class="list-inline-item">
                <i class="fa fa-location-arrow"></i>@Model.Place.name, @Model.Place.address @Model.Place.city
            </li>
        </ul>
        <ul class="post-meta list-inline">
            <li class="list-inline-item">
                <i class="fa fa-ticket"></i>@Model.freeTickets
            </li>
            <li class="list-inline-item">
                <i class="fa fa-money"></i>@Model.minPrice zł - @Model.maxPrice zł
            </li>
        </ul>
        <p>@Model.description</p>
    </div>
</article>
@*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">*@
<section class="content-item" id="comments">
    <div class="container">
        <div class="row">
            <div class="col">
                    <h3 class="pull-left">Nowy komentarz</h3>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-3 col-lg-2 hidden-xs">
                                <img class="img-responsive" src="~/images/profilePng.png" alt="">
                            </div>
                            <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                <textarea class="form-control" id="message" placeholder="Twoja wiadomość" required=""></textarea>
                                <a class="btn btn-dark" onclick="comAction(@Model.MainEventId)">Dodaj komentarz</a>
                            </div>
                        </div>
                    </fieldset>

                <h3>Komentarze</h3>
                <div id="commentsUsers"></div>
                <div id="firstComments">
                    @if (ViewBag.Comments.Count > 0)
                    {
                        @foreach (var item in ViewBag.Comments)
                        {
                            <div class="media">
                                <img class="media-object" src="~/images/profilePng.png" alt="">
                                <div class="media-body">
                                    <h4 class="media-heading">@item.User.UserName</h4>
                                    <ul class="list-unstyled list-inline media-detail pull-left">
                                        <li><i class="fa fa-calendar"></i>@item.date.ToShortTimeString()</li>
                                    </ul>
                                    <p>@item.content</p>
                                </div>
                            </div>
                        }
                    }
                </div>

                @*<div class="media">
            <img class="media-object" src="~/images/profilePng.png" alt="">
            <div class="media-body">
                <h4 class="media-heading">John Doe</h4>
                <ul class="list-unstyled list-inline media-detail pull-left">
                    <li><i class="fa fa-calendar"></i>27/02/2014</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>*@
            </div>
        </div>
    </div>
</section>
<script>
    function comAction(EventId) {
        var text = $('textarea#message').val();
         $.ajax({
           type: "GET",
           url: '@Url.Action("CommentAction", "MainEvents")',
           data: { id: EventId, content:text },
           dataType: 'html',
           success: function (res) {
               $('#commentsUsers').html(res);
               $('#firstComments').hide();
               $('textarea#message').val("");
           }   
         })
    }
</script>
<style>
    .content-item {
        padding: 20px 0;
        background-color: #b8c6db;
        background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    }

        .content-item.grey {
            background-color: #F0F0F0;
            padding: 50px 0;
            height: 100%;
        }

        .content-item h2 {
            font-weight: 700;
            font-size: 35px;
            line-height: 45px;
            text-transform: uppercase;
            margin: 20px 0;
        }

        .content-item h3 {
            font-weight: 400;
            font-size: 20px;
            color: #555555;
            margin: 10px 0 15px;
            padding: 0;
        }

    .content-headline {
        height: 1px;
        text-align: center;
        margin: 20px 0 70px;
    }

        .content-headline h2 {
            background-color: #FFFFFF;
            display: inline-block;
            margin: -20px auto 0;
            padding: 0 20px;
        }

    .grey .content-headline h2 {
        background-color: #F0F0F0;
    }

    .content-headline h3 {
        font-size: 14px;
        color: #AAAAAA;
        display: block;
    }


    #comments {
        box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
        background-color: #FFFFFF;
    }

        #comments form {
            margin-bottom: 30px;
        }

        #comments .btn {
            margin-top: 7px;
        }

        #comments form fieldset {
            clear: both;
        }

        #comments form textarea {
            height: 100px;
        }

        #comments .media {
            border-top: 1px dashed #DDDDDD;
            padding: 20px 0;
            margin: 0;
        }

            #comments .media > .pull-left {
                margin-right: 20px;
            }

            #comments .media img {
                max-width: 100px;
            }

            #comments .media h4 {
                margin: 0 0 10px;
            }

                #comments .media h4 span {
                    font-size: 14px;
                    float: right;
                    color: #999999;
                }

            #comments .media p {
                margin-bottom: 15px;
                text-align: justify;
            }

        #comments .media-detail {
            margin: 0;
        }

            #comments .media-detail li {
                color: #AAAAAA;
                font-size: 12px;
                padding-right: 10px;
                font-weight: 600;
            }

            #comments .media-detail a:hover {
                text-decoration: underline;
            }

            #comments .media-detail li:last-child {
                padding-right: 0;
            }

            #comments .media-detail li i {
                color: #666666;
                font-size: 15px;
                margin-right: 10px;
            }
</style>
