@model EventsApp.Models.MainEvent

@{
    ViewData["Title"] = "Details";
}

<section class="content-item" id="comments">
    <div class="container">
        <article>
            @{
                var base64 = Convert.ToBase64String(Model.picture);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            <div style="text-align:center"><img src="@imgSrc" alt="" class="img-fluid mb30"></div>
            <div class="post-content">
                <h2 style="text-align:center"><b>@Model.title</b></h2>
                <p style="justify-content:center">@Model.description</p>
                <ul class="post-meta list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-user-circle-o" style="color:black"></i>@Model.Organizer.name
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o" style="color:black"></i>@Model.dateStart - @Model.dateEnd
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-location-arrow" style="color:black"></i>@Model.Place.name, @Model.Place.address @Model.Place.city
                    </li>
                </ul>
                <ul class="post-meta list-inline" style="text-align:center">
                    <li class="list-inline-item">
                        <i class="fa fa-ticket" style="color:black"></i>@Model.freeTickets
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-money" style="color:black"></i>@Model.minPrice zł - @Model.maxPrice zł
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (ViewBag.flag == false)
                    {
                        <div class="row text-center" id="ticketDiv">
                            <div class="col">
                                <span><b>Ilość miejsc:</b></span><input id="ticketCount" type="number" value="0" style="width:60px; margin-left:15px" min="0" max="30" />
                                <input id="ticketButton" type="button" onclick="ticketClick()" class="btn-success" value="Rezerwuj miejsca" style="margin-left:15px" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row text-center" id="reservationDiv">
                            <h3 style="color:red"><b>Z tego konta zostały już zarezerwowane bilety. W celu anulowanie, przejdź do zakładki Rezerwacje</b></h3>
                        </div>
                    }
                }
            </div>
        </article>
        <div class="row">
            <div class="col">

                <h3>Komentarze</h3>
                @if (User.Identity.IsAuthenticated)
                {
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-3 col-lg-2 hidden-xs">
                                <img class="img-responsive" src="~/images/profilePng.png" alt="">
                            </div>
                            <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                <textarea class="form-control" id="message" placeholder="Twoja wiadomość" required=""></textarea>
                                <a class="btn btn-warning" onclick="comAction(@Model.MainEventId)">Dodaj komentarz</a>
                            </div>
                        </div>
                    </fieldset>
                }
                else
                {
                    <h3><b><a asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>, aby móc dodać komentarz</b></h3>
                }
                <div id="commentsUsers"></div>
                <div id="firstComments">
                    @if (ViewBag.Comments.Count > 0)
                    {
                        @foreach (var item in ViewBag.Comments)
                        {
                    <div class="media">
                        <img class="media-object" src="~/images/profilePng.png" alt="">
                        <div class="media-body">
                            <h4 class="media-heading">@item.User.UserName</h4>
                            <ul class="list-unstyled list-inline media-detail pull-left">
                                <li>@item.date</li>
                            </ul>
                            <div>
                                <p style="margin:10px">  @item.content</p>
                            </div>
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="Gicons">
                                <a asp-action="Delete" asp-controller="Opinions" asp-route-id="@item.OpinionId">
                                    <i class="glyphicon glyphicon-remove" style="color:red;font-size:30px;margin:10px"></i>
                                </a>
                            </div>
                        }
                    </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function ticketClick() {
        $.ajax({
            url: '@Url.Action("TicketAction", "Tickets")',
            data: { count: document.getElementById('ticketCount').value, id: "@Model.MainEventId" },
            success: function (response) {
                if (response.success) {
                    alert("Rezerwacja dokonana pomyślnie!");
                    location.reload();
                }
                else {
                    alert("Brak wolnych miejsc");
                }
            }
        });
    };

    function comAction(EventId) {
        var text = $('textarea#message').val();
         $.ajax({
           type: "GET",
           url: '@Url.Action("CommentAction", "MainEvents")',
           data: { id: EventId, content:text },
           dataType: 'html',
           success: function (res) {
               $('#commentsUsers').html(res);
               $('#firstComments').hide();
               $('textarea#message').val("");
           }
         })
    }
</script>
<style>
    .content-item {
        padding: 20px 0;
        background-color: #b8c6db;
        background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    }

        .content-item.grey {
            background-color: #F0F0F0;
            padding: 50px 0;
            height: 100%;
        }

        .content-item h2 {
            font-weight: 700;
            font-size: 35px;
            line-height: 45px;
            text-transform: uppercase;
            margin: 20px 0;
        }

        .content-item h3 {
            font-weight: 400;
            font-size: 20px;
            color: #555555;
            margin: 10px 0 15px;
            padding: 0;
        }

    .content-headline {
        height: 1px;
        text-align: center;
        margin: 20px 0 70px;
    }

        .content-headline h2 {
            background-color: #FFFFFF;
            display: inline-block;
            margin: -20px auto 0;
            padding: 0 20px;
        }

    .grey .content-headline h2 {
        background-color: #F0F0F0;
    }

    .content-headline h3 {
        font-size: 14px;
        color: #AAAAAA;
        display: block;
    }


    #comments {
        box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
        background-color: #FFFFFF;
    }

        #comments form {
            margin-bottom: 30px;
        }

        #comments .btn {
            margin-top: 7px;
        }

        #comments form fieldset {
            clear: both;
        }

        #comments form textarea {
            height: 100px;
        }

        #comments .media {
            border-top: 1px dashed #DDDDDD;
            padding: 20px 0;
            margin: 0;
        }

            #comments .media > .pull-left {
                margin-right: 20px;
            }

            #comments .media img {
                max-width: 100px;
            }

            #comments .media h4 {
                margin: 0 0 10px;
            }

                #comments .media h4 span {
                    font-size: 14px;
                    float: right;
                    color: #999999;
                }

            #comments .media p {
                margin-bottom: 15px;
                text-align: justify;
            }

        #comments .media-detail {
            margin: 0;
        }

            #comments .media-detail li {
                color: #AAAAAA;
                font-size: 12px;
                padding-right: 10px;
                font-weight: 600;
            }

            #comments .media-detail a:hover {
                text-decoration: underline;
            }

            #comments .media-detail li:last-child {
                padding-right: 0;
            }

            #comments .media-detail li i {
                color: #666666;
                font-size: 15px;
                margin-right: 10px;
            }
</style>
