@model EventsApp.ViewModels.MainEventViewModel

@{
    ViewData["Title"] = "Edycja wydarzenia";
}

<div class="row">
    <div class="col-md-4 text-center" style="margin-inline:auto">
        <h1 style="margin:20px"><b>Edycja wydarzenia</b></h1>
        <hr />
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MainEventId" />
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateStart" class="control-label"></label>
                <input asp-for="dateStart" class="form-control" />
                <span asp-validation-for="dateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateEnd" class="control-label"></label>
                <input asp-for="dateEnd" class="form-control" />
                <span asp-validation-for="dateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="freeTickets" class="control-label"></label>
                <input asp-for="freeTickets" class="form-control" />
                <span asp-validation-for="freeTickets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="minPrice" class="control-label"></label>
                <input asp-for="minPrice" class="form-control" />
                <span asp-validation-for="minPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maxPrice" class="control-label"></label>
                <input asp-for="maxPrice" class="form-control" />
                <span asp-validation-for="maxPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" type='text' list='listid'>
                <datalist id='listid'>
                    @foreach (var p in ViewBag.Miejsca)
                    {
                        <option value="@p.name"></option>
                    }
                </datalist>
            </div>

            <script>
                window.inputs = {};
                window.places = [];
            </script>
            @foreach (var p in ViewBag.Miejsca)
            {
                <script>window.places["@Html.Raw(p.name)"] = ["@Html.Raw(@p.address)", "@Html.Raw(@p.province)", "@Html.Raw(@p.city)"];</script>
            }

            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="province" class="control-label"></label>
                <select asp-for="province" class="form-control">
                    <option value="dolnośląskie">dolnośląskie</option>
                    <option value="kujawsko-pomorskie">kujawsko-pomorskie</option>
                    <option value="lubelskie">lubelskie</option>
                    <option value="lubuskie">lubuskie</option>
                    <option value="mazowieckie">mazowieckie</option>
                    <option value="małopolskie">małopolskie</option>
                    <option value="opolskie">opolskie</option>
                    <option value="podkarpackie">podkarpackie</option>
                    <option value="podlaskie">podlaskie</option>
                    <option value="pomorskie">pomorskie</option>
                    <option value="śląskie">śląskie</option>
                    <option value="świętokrzyskie">świętokrzyskie</option>
                    <option value="warmińsko-mazurskie">warmińsko-mazurskie</option>
                    <option value="wielkopolskie">wielkopolskie</option>
                    <option value="zachodniopomorskie">zachodniopomorskie</option>
                    <option value="łódzkie">łódzkie</option>
                </select>
            </div>

            <script>
                window.inputs.name = document.getElementById("name");
                window.inputs.address = document.getElementById("address");
                window.inputs.city = document.getElementById("city");
                window.inputs.province = document.getElementById("province");
                window.inputs.name.addEventListener("change", function () {
                    if (this.value in window.places) {
                        window.inputs.address.value = window.places[this.value][0];
                        window.inputs.city.value = window.places[this.value][2];
                        window.inputs.province.value = window.places[this.value][1];
                    }
                });
            </script>

            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <select asp-for="type" class="form-control">
                    <option value="muzyka">Muzyka</option>
                    <option value="teatr">Teatr</option>
                    <option value="religia">Religia</option>
                    <option value="nauka">Nauka</option>
                    <option value="sztuka">Sztuka i kultura</option>
                    <option value="sport">Sport</option>
                </select>
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizerName" class="control-label"></label>
                <input asp-for="OrganizerName" class="form-control" type='text' list='OrganizerList'>
                <datalist id='OrganizerList'>
                    @if (ViewBag.Organizers.Count > 0)
                    {
                        @foreach (var p in ViewBag.Organizers)
                        {
                            <option value="@p.name"></option>
                        }
                    }
                </datalist>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

