@model IEnumerable<EventsApp.Models.MainEvent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.freeTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organizer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.freeTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organizer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place.PlaceId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MainEventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MainEventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MainEventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
