@*@using PagedList.Mvc
@model PagedList.IPagedList<EventsApp.Models.MainEvent>*@ 
@model ICollection<EventsApp.Models.MainEvent>

@{
    ViewData["Title"] = "Index";
    string pr = "pomorskie";
    string cat = ViewBag.type;
}
<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<div class="container-fluid">
    <h4 class="text-center" style="margin:10px"><b>Najbliższe wydarzenia</b></h4>
    <div class="row">
        <div id="grdProvince" class="col-12 col-md-8"></div>
        <div class="col-12 col-md-8" id="StartListDiv">
            @foreach (var item in Model)
            {
                <div class="well">
                    <div class="media">
                        @{
                            var base64 = Convert.ToBase64String(item.picture);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img class="media-object pull-left" src="@imgSrc" style="max-width:200px; max-height:200px;">
                        <div class="media-body">
                            <h4 class="media-heading">@item.title</h4>
                            <p id="HideLines">@item.description</p>
                            <ul class="list-inline list-unstyled">
                                <li><span><i class="glyphicon glyphicon-calendar"></i>@item.dateStart - @item.dateEnd</span></li>
                                <li>|</li>
                                <li><span><i class="glyphicon glyphicon-user"></i>@item.Organizer.name</span></li>
                                <li>|</li>
                                <li><span><i class="glyphicon glyphicon-map-marker"></i>@item.Place.name, @item.Place.city @item.Place.address </span></li>
                                <li>|</li>
                                <li><span><i class="glyphicon glyphicon-usd"></i>@item.minPrice zł - @item.maxPrice zł</span></li>
                            </ul>
                        </div>
                        <div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (ViewBag.favouriteEvents.Contains(item))
                                {
                                    <a onclick="favAction(@item.MainEventId)">
                                        <i class="Heart" id="EventHeart_@item.MainEventId" style="color:red"></i>
                                    </a>
                                }
                                else
                                {
                                    <a onclick="favAction(@item.MainEventId)">
                                        <i class="Heart" id="EventHeart_@item.MainEventId"></i>
                                    </a>
                                }
                            }
                        </div>
                        <script>
                            $(function () {
                                $(".Heart").click(function () {
                                    $(".Heart,.HeartSpan").toggleClass("press", 1000);
                                });
                            });
                            function favAction(EventId) {
                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("FavouriteAction", "MainEvents")',
                                    data: { id: EventId },
                                    dataType: 'json',
                                    success: function (result) {
                                        if (result.success) {
                                            $("#EventHeart_" + EventId).css('color', 'red');
                                        }
                                        else {
                                            $("#EventHeart_" + EventId).css('color', '#aaa');
                                        }
                                    }
                                })
                            }
                        </script>
                    </div>
                </div>
            }
        </div>
        <div class="col-6 col-md-4">
            <h5 class="text-center" style="margin:7px"><b>Kryteria wyszukiwania</b></h5>
            <p><b>województwo: </b><span id="ProvinceSpan">-</span></p>
            <p>
                <b>kategoria: </b>
                @if (ViewBag.type == "none")
                {<span id="TypeSpan">-</span>}
                else if (ViewBag.type == "sztuka")
                {<span id="TypeSpan">sztuka i kultura</span>}
                else
                {<span>@ViewBag.type</span>}
            </p>
            <svg @*width="100mm"
                 height="85mm"*@
                 viewBox="0 0 211.66667 186.53125"
                 version="1.1"
                 id="svg5"
                 inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
                 sodipodi:docname="mapka.svg"
                 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:svg="http://www.w3.org/2000/svg">
                <sodipodi:namedview id="namedview7"
                                    pagecolor="#ffffff"
                                    bordercolor="#666666"
                                    borderopacity="1.0"
                                    inkscape:pageshadow="2"
                                    inkscape:pageopacity="0.0"
                                    inkscape:pagecheckerboard="0"
                                    inkscape:document-units="mm"
                                    showgrid="false"
                                    fit-margin-top="0"
                                    fit-margin-left="0"
                                    fit-margin-right="0"
                                    fit-margin-bottom="0"
                                    inkscape:zoom="1.0230034"
                                    inkscape:cx="529.32377"
                                    inkscape:cy="326.00088"
                                    inkscape:window-width="1920"
                                    inkscape:window-height="1001"
                                    inkscape:window-x="2391"
                                    inkscape:window-y="571"
                                    inkscape:window-maximized="1"
                                    inkscape:current-layer="layer1" />
                <defs id="defs2" />
                <g inkscape:label="Warstwa 1"
                   inkscape:groupmode="layer"
                   id="layer1"
                   transform="translate(1.2249618,-46.821815)">
                    <path style="fill:#000000;stroke-width:0.264583"
                          d="m 164.82649,221.00802 c -3.04972,-1.07825 -10.55263,-5.07661 -13.49375,-7.19092 -1.81679,-1.30606 -3.68376,-2.16134 -5.49632,-2.51794 -2.74156,-0.53937 -3.89015,-0.28357 -7.07873,1.57646 l -2.82639,1.64875 -1.49355,-0.91333 c -2.64997,-1.6205 -3.0851,-1.7734 -5.04684,-1.7734 h -1.85978 l -1.78459,2.22992 -1.78459,2.22992 -3.31408,-0.14653 c -1.82275,-0.0806 -3.38164,-0.22086 -3.46422,-0.3117 -0.0826,-0.0908 -0.299,-0.93906 -0.48097,-1.88494 -0.41052,-2.13399 -1.30691,-4.05444 -2.51158,-5.3809 l -0.92207,-1.01528 -1.67179,1.55364 c -2.08472,1.9374 -4.07089,3.31713 -4.61632,3.20683 -0.22869,-0.0463 -1.06096,-1.20646 -1.8495,-2.57825 -1.82298,-3.17141 -2.75993,-4.37669 -4.47813,-5.76062 -1.275669,-1.02748 -1.396729,-1.22457 -1.609869,-2.62093 l -0.23047,-1.5099 -3.04271,-1.03856 c -1.67349,-0.57121 -3.22129,-1.04427 -3.43957,-1.05124 -0.21828,-0.007 -1.2155,0.21104 -2.21604,0.48449 l -1.81916,0.49718 -2.11628,-2.24896 c -3.03936,-3.22991 -3.05063,-3.25148 -2.24883,-4.3027 l 0.65728,-0.86174 -1.4863,-0.47415 c -0.81746,-0.26078 -2.88529,-1.15993 -4.59517,-1.99812 -1.70987,-0.83818 -3.10885,-1.47665 -3.10885,-1.41883 0,0.0578 0.20735,0.88333 0.46079,1.83444 l 0.46079,1.7293 -1.15671,1.02649 c -0.6362,0.56458 -1.89591,1.3904 -2.79936,1.83517 -1.33739,0.65839 -1.90871,0.79353 -3.07439,0.72722 l -1.43175,-0.0815 -1.32292,-2.52766 c -1.67206,-3.19477 -1.79776,-3.36202 -3.67822,-4.89383 l -1.55687,-1.26821 1.04385,-0.94682 c 0.57412,-0.52074 1.36506,-1.21391 1.75765,-1.54037 0.81598,-0.67854 0.8523,-0.83569 0.35139,-1.52071 -0.34769,-0.4755 -0.44172,-0.4782 -2.3151,-0.0664 l -1.9527,0.4292 -2.11666,-0.94835 c -4.26143,-1.90928 -9.38269,-4.58356 -10.27079,-5.36332 -1.07661,-0.94528 -2.25093,-1.05293 -2.95838,-0.2712 -0.37336,0.41255 -0.81491,0.52916 -2.00374,0.52916 -1.80388,0 -2.36189,-0.17375 -2.36189,-0.73544 0,-0.22784 0.54699,-2.68564 1.21553,-5.4618 0.70667,-2.93451 1.23278,-5.7675 1.25677,-6.76734 l 0.0412,-1.71979 -2.15642,-1.02793 -2.15642,-1.02793 -0.10959,-2.01478 c -0.0863,-1.5863 -0.29659,-2.40865 -0.98891,-3.86686 -0.48363,-1.01865 -0.88276,-1.97963 -0.88695,-2.13553 -0.004,-0.15589 0.65656,-1.73067 1.46834,-3.4995 l 1.47595,-3.21607 -0.4855,-1.92445 c -0.26703,-1.05845 -0.91137,-2.85378 -1.43186,-3.98963 -0.98115,-2.14112 -1.10671,-3.11852 -0.70339,-5.47545 l 0.20375,-1.19062 -3.83481,-3.72691 c -4.42754,-4.30296 -4.34321,-4.03829 -2.21392,-6.94892 2.93906,-4.01754 2.80723,-3.76373 2.9065,-5.59605 0.0884,-1.63182 -0.11481,-2.83228 -1.67957,-9.92187 -0.44069,-1.99667 -0.42803,-4.39946 0.024,-4.5481 0.1535,-0.0505 1.2455,0.49519 2.42667,1.2126 1.18117,0.71741 2.21644,1.23553 2.3006,1.15137 0.0842,-0.0842 0.15301,-0.78802 0.15301,-1.56413 v -1.41111 h -2.37509 -2.3751 l -1.06449,-1.346675 c -1.32296,-1.67367 -1.37333,-2.282884 -0.20459,-2.474469 0.47295,-0.07753 1.6338,-0.26837 2.57969,-0.424096 1.69482,-0.279024 10.20961,-3.528983 11.79341,-4.501353 0.44726,-0.274595 2.41179,-0.924301 4.36563,-1.443789 2.59035,-0.688729 4.03909,-1.238142 5.34943,-2.028703 1.79501,-1.082966 1.79938,-1.084014 3.91902,-0.938729 l 2.12201,0.145444 2.69556,-3.609938 2.69557,-3.60994 2.51354,-0.555874 c 3.80652,-0.841822 5.13157,-1.361369 6.80524,-2.668311 2.09709,-1.637579 2.4029,-1.773062 6.09868,-2.701852 1.78564,-0.448752 4.16689,-1.189744 5.29167,-1.64665 1.76934,-0.718739 2.45527,-0.847311 5.08776,-0.953674 2.21256,-0.0894 3.37826,-0.0182 4.27261,0.260942 3.298679,1.029585 9.221129,5.56586 9.221129,7.062887 0,0.832478 -0.38284,1.061866 -1.77221,1.061866 -0.76665,0 -1.21845,-0.262255 -2.50698,-1.455208 -1.41107,-1.306399 -2.599969,-1.86229 -2.599969,-1.215659 0,0.131753 0.41672,0.73833 0.926039,1.34795 0.7855,0.940181 0.92604,1.308016 0.92604,2.423679 0,2.257925 0.69084,2.871031 3.86938,3.434008 3.35986,0.595091 6.01002,0.149842 9.0059,-1.513072 1.91068,-1.060556 2.29894,-1.084448 8.29138,-0.51022 3.7675,0.361021 10.03808,0.811432 20.24063,1.453872 2.18281,0.137451 8.00039,0.44514 12.92795,0.683755 8.81068,0.426654 8.97078,0.425323 9.6573,-0.08024 1.75839,-1.294915 1.83588,-1.293717 3.1995,0.0494 0.96688,0.952344 1.57265,1.306602 2.68114,1.56795 1.63822,0.386244 3.89022,1.760614 5.32814,3.2517 l 0.98571,1.022149 -0.26438,2.376738 -0.26438,2.376737 2.2256,7.148555 c 1.22408,3.9317 2.59732,8.25805 3.05164,9.61411 0.9682,2.88988 1.61449,6.33147 1.61449,8.59742 0,0.88582 0.19918,3.20989 0.44262,5.16462 l 0.44263,3.55404 -0.61244,0.49592 c -0.33684,0.27276 -1.69688,1.13497 -3.02231,1.91602 -1.32543,0.78105 -2.84049,1.88681 -3.36679,2.45724 -1.79456,1.94503 -3.96068,4.92367 -3.8811,5.33691 0.0437,0.22678 1.41798,1.29696 3.05402,2.37818 l 2.97462,1.96584 -4e-5,1.35016 c -2e-5,0.74259 -0.23986,3.19562 -0.53298,5.45119 -1.00388,7.72498 -1.02234,7.09508 0.26343,8.98846 1.15039,1.69403 1.2786,2.1829 0.94373,3.59838 -0.16951,0.71648 -0.0298,1.01456 1.17771,2.51354 1.74329,2.16402 2.01134,2.69779 2.24919,4.47879 0.28113,2.10511 0.69011,2.70717 2.76968,4.07719 1.02329,0.67415 1.86053,1.40834 1.86053,1.63154 0,0.23767 -0.60512,0.67342 -1.4605,1.05171 -1.64659,0.7282 -1.60834,0.49784 -0.62836,3.78462 0.27575,0.92483 0.50136,1.85834 0.50136,2.07447 0,0.21612 -0.51265,1.00725 -1.13921,1.75806 -0.62656,0.75082 -1.33863,1.68484 -1.58238,2.07561 -0.24375,0.39077 -1.24916,1.13432 -2.23424,1.65233 -2.12995,1.12007 -3.60404,2.48625 -8.01336,7.42676 -7.50224,8.40605 -10.04956,11.42763 -10.04956,11.92061 0,0.19053 0.34977,1.29506 0.77728,2.45452 0.4275,1.15945 0.90742,2.8258 1.06649,3.703 0.15907,0.87719 0.75276,2.58581 1.31931,3.79693 0.56656,1.21111 1.11158,2.52945 1.21115,2.92963 0.17068,0.68592 0.13014,0.72728 -0.70753,0.72202 -0.48872,-0.003 -1.66248,-0.2792 -2.60837,-0.61362 z"
                          id="path39" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 82.529911,106.01228 c 0.69572,-0.57491 2.255,-1.94413 3.46506,-3.0427 l 2.20012,-1.99742 h 2.40768 c 2.54444,0 5.06189,0.43323 11.544949,1.98678 2.17753,0.5218 4.3149,0.91332 4.74971,0.87004 0.64268,-0.064 1.04043,-0.43181 2.12628,-1.96631 0.73464,-1.03818 1.90125,-2.491605 2.59248,-3.229815 0.69122,-0.73821 1.25677,-1.456833 1.25677,-1.596946 0,-0.140113 -1.07157,-1.041255 -2.38125,-2.002539 -1.30969,-0.961284 -2.38125,-1.904672 -2.38125,-2.096413 0,-0.56111 0.9323,-3.111325 1.65916,-4.538456 0.43407,-0.852276 1.52464,-2.098122 3.09074,-3.530806 1.33099,-1.217613 2.36961,-2.26422 2.30803,-2.325794 -0.0616,-0.06158 -0.93066,0.308976 -1.9313,0.823445 -3.30301,1.698217 -5.78613,2.048258 -9.67124,1.363337 -3.43427,-0.605444 -4.980389,-1.928241 -4.980389,-4.261033 0,-1.140256 -0.1402,-1.55956 -0.79835,-2.38774 -0.44748,-0.563081 -1.10194,-1.978306 -1.48912,-3.22013 -0.43235,-1.386702 -0.89807,-2.360736 -1.24489,-2.603664 -0.39148,-0.274203 -1.28324,-0.388125 -3.03814,-0.388125 -2.22159,0 -2.72548,0.09724 -4.76977,0.920465 -1.25717,0.506256 -3.57536,1.223149 -5.15155,1.593097 -3.303302,0.775325 -4.278342,1.220773 -6.329552,2.891677 -0.81653,0.665138 -1.60319,1.209344 -1.74813,1.209344 -0.14494,0 -0.44672,0.1832 -0.67064,0.407112 -0.47934,0.479345 -0.42818,0.864142 0.69293,5.211752 l 0.80077,3.105324 -0.98875,1.657176 -0.98876,1.657178 0.86017,3.809608 c 0.59364,2.629136 0.91028,4.836081 1.02188,7.122226 l 0.1617,3.31262 2.91042,1.12281 c 1.60073,0.61754 3.031662,1.13324 3.179852,1.146 0.14819,0.0127 0.83866,-0.44719 1.53438,-1.0221 z"
                          id="path523" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 132.25516,113.02911 c 4.63783,-2.27704 6.81792,-3.15838 12.46484,-5.0391 l 6.84392,-2.27939 2.54879,-2.07721 c 3.64422,-2.96998 4.64215,-4.096435 5.7107,-6.446223 0.51652,-1.135848 0.93913,-2.185276 0.93913,-2.332059 0,-0.146783 -0.31218,-0.943858 -0.69373,-1.771279 -1.11048,-2.408143 -1.68752,-3.78101 -1.68752,-4.014843 0,-0.11969 0.7186,-0.958877 1.59689,-1.864863 0.87828,-0.905984 1.53311,-1.71101 1.45518,-1.788946 -0.18423,-0.184229 -4.53688,-0.478845 -12.44478,-0.842346 -12.75357,-0.586243 -20.74002,-1.060889 -25.26771,-1.501696 -2.54661,-0.247933 -4.92786,-0.369884 -5.29166,-0.271002 -0.36381,0.09888 -1.97115,1.287428 -3.57188,2.641217 -2.48481,2.101482 -3.0325,2.710913 -3.74526,4.167462 -1.39723,2.855286 -1.41865,2.708156 0.60353,4.144161 2.36964,1.682742 3.53861,2.706026 3.53861,3.097599 0,0.176845 -0.89471,1.311263 -1.98825,2.520933 -2.03312,2.249045 -4.36175,5.380285 -4.36175,5.865115 0,0.9076 3.4848,4.95021 7.1005,8.23708 l 2.54671,2.31511 h 4.04141 4.0414 z"
                          id="path521" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 40.236517,125.98929 c 2.67054,-2.33937 2.81799,-2.40499 5.827538,-2.59361 1.020083,-0.0639 1.074222,-0.11509 1.561841,-1.47572 0.280773,-0.78346 0.779565,-1.58931 1.123011,-1.81434 0.339833,-0.22267 2.782742,-0.99263 5.428686,-1.71103 l 4.810808,-1.30618 1.250376,1.23158 1.250375,1.23157 3.400764,-2.70685 c 1.870419,-1.48877 3.558154,-2.85422 3.750519,-3.03433 0.286787,-0.26851 0.138414,-0.6558 -0.8241,-2.15108 -1.155182,-1.79459 -2.039199,-3.38069 -2.039199,-3.65873 0,-0.18934 2.535121,-1.42547 5.223272,-2.54688 l 2.180571,-0.90966 2.4e-4,-1.32291 c 5.3e-4,-2.32529 -0.48598,-5.719195 -1.35413,-9.44859 l -0.844485,-3.627752 0.686655,-1.002456 c 1.42585,-2.081618 1.42622,-2.088211 0.33289,-6.020634 -1.120547,-4.030334 -1.004244,-3.92407 -3.487565,-3.186602 -1.722922,0.511654 -1.942844,0.725377 -4.717188,4.584248 -1.996826,2.77741 -2.427724,3.23732 -2.917857,3.114304 -0.31628,-0.07938 -1.397534,-0.158519 -2.402792,-0.17586 -1.679766,-0.02898 -1.977679,0.05479 -3.67982,1.034746 -1.243542,0.71593 -2.859892,1.326126 -4.919319,1.857115 -1.68698,0.434962 -3.889637,1.205632 -4.894791,1.712603 -2.533579,1.277861 -9.277096,3.829079 -10.9697,4.150074 -2.428806,0.460614 -2.087059,0.675326 1.457606,0.915784 1.303295,0.08841 2.408113,0.199231 2.455151,0.246269 0.04704,0.04704 0.158501,1.447276 0.247695,3.111641 0.163843,3.05723 -0.04846,4.19032 -0.78513,4.19032 -0.178335,0 -1.122908,-0.53579 -2.099051,-1.19063 -1.912104,-1.28273 -2.436654,-1.455 -2.215422,-0.7276 0.07745,0.25466 0.524473,2.12989 0.99338,4.16718 0.666743,2.89685 0.853731,4.30966 0.857941,6.48229 0.0056,2.88502 -0.269031,3.8652 -1.387766,4.95327 -0.946801,0.92084 -2.685386,3.30247 -2.685386,3.67862 0,0.63926 5.931511,6.18478 6.615271,6.18478 0.119764,0 1.365864,-1.00573 2.769111,-2.23495 z"
                          id="path519" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 172.71872,134.50747 c 2.90461,-3.33554 4.52581,-4.79772 6.50776,-5.86945 1.05926,-0.57279 2.042,-1.1813 2.18389,-1.35226 0.16887,-0.20348 0.12025,-1.48805 -0.14077,-3.71945 -0.2193,-1.87474 -0.39965,-4.18325 -0.40079,-5.13003 -0.003,-2.24341 -0.42948,-3.89589 -3.82717,-14.81828 -2.81755,-9.057435 -2.83932,-9.14787 -2.81136,-11.676053 l 0.0282,-2.547919 -1.04749,-0.946351 c -1.36276,-1.231165 -2.89078,-1.996985 -4.39626,-2.203334 -0.98832,-0.135467 -1.36005,-0.352634 -2.0295,-1.18568 -0.45076,-0.560911 -0.9507,-1.019839 -1.11098,-1.019839 -0.16027,0 -1.45175,1.164712 -2.86994,2.588247 l -2.57854,2.588247 0.50713,1.049774 c 1.11455,2.307164 1.88174,4.180721 1.88174,4.595389 0,0.240384 -0.647,1.752224 -1.43779,3.359644 -1.55538,3.161595 -1.90847,3.543355 -6.36741,6.884365 -2.78051,2.08339 -3.5725,2.53167 -6.01928,3.40703 -1.53516,0.54923 -2.05052,0.85431 -2.05052,1.2139 0,0.26416 0.24497,1.7497 0.54438,3.30121 0.58791,3.04645 0.72503,3.32476 3.73748,7.58575 l 1.8202,2.5746 1.77762,0.52457 c 0.97769,0.28851 2.1807,0.62226 2.67336,0.74166 0.85352,0.20686 0.94287,0.34761 1.89574,2.98625 0.55001,1.52304 1.33755,3.59062 1.7501,4.59464 l 0.75008,1.82549 2.51354,0.91518 c 5.63012,2.04994 5.93267,2.13949 6.39417,1.8925 0.24891,-0.13321 1.204,-1.10512 2.12243,-2.1598 z"
                          id="path517" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 107.74477,136.51399 1.40061,-0.44151 0.65727,-2.80295 c 0.94805,-4.04305 1.21398,-5.92735 1.21612,-8.61716 l 0.002,-2.38125 2.97667,-2.83506 2.97667,-2.83507 -1.45521,-1.24016 c -2.49292,-2.12451 -5.97854,-5.85336 -7.14471,-7.64327 -0.90734,-1.39263 -1.29706,-1.76089 -2.07919,-1.96466 -6.510849,-1.69634 -11.610389,-2.69991 -14.720839,-2.89702 l -2.91041,-0.18443 -4.29948,4.2725 c -5.015222,4.98375 -4.745052,4.23883 -3.66127,10.09512 0.67893,3.66867 0.93755,4.35458 2.27196,6.0258 0.78949,0.98875 0.83389,1.15401 0.67526,2.51354 -0.0934,0.80036 -0.19416,1.67846 -0.22396,1.95133 -0.0406,0.37184 0.56925,0.84907 2.4344,1.90497 2.46886,1.39768 4.54951,2.16073 7.52444,2.75952 1.67894,0.33793 2.38591,0.60424 5.59739,2.10853 1.775719,0.83176 4.212799,1.84219 5.953119,2.4682 0.70769,0.25456 1.3823,0.19285 2.80931,-0.25697 z"
                          id="path515" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 48.655699,157.75097 c 0.783868,-0.20417 2.217489,-0.45607 3.185822,-0.55977 l 1.760609,-0.18854 1.800045,-3.18344 1.800045,-3.18343 2.36923,0.0539 c 1.303075,0.0296 2.636009,0.11936 2.962074,0.19938 0.39102,0.096 0.64626,0.006 0.749744,-0.26336 0.247732,-0.64558 -0.234937,-1.23624 -1.626796,-1.99081 -0.928388,-0.5033 -1.977186,-1.53592 -3.74388,-3.68614 l -2.454207,-2.98698 0.0019,-5.87656 c 0.0016,-5.48227 0.03804,-5.92982 0.542656,-6.67031 1.583679,-2.32395 1.80962,-3.09504 1.929786,-6.58596 0.06323,-1.83685 0.0274,-3.39384 -0.07963,-3.45998 -0.245252,-0.15158 -7.446264,1.70504 -7.859762,2.02647 -0.168207,0.13075 -0.571617,0.99059 -0.896464,1.91077 l -0.590638,1.67304 -2.206611,0.13767 c -2.548351,0.15899 -2.867462,0.32084 -5.760646,2.92179 -1.682539,1.51258 -2.065081,2.01488 -2.404216,3.15687 -0.598427,2.01513 -0.501463,3.02973 0.521311,5.45483 0.50854,1.20579 1.151313,3.10717 1.42839,4.2253 l 0.503769,2.03295 -1.428387,3.14749 c -1.448856,3.1926 -1.623362,3.82322 -1.182727,4.27407 0.490495,0.50186 1.4112,3.19602 1.572987,4.60286 0.146349,1.2726 0.267354,1.50036 1.034921,1.94801 2.03318,1.18578 5.445863,1.55361 8.070829,0.86989 z"
                          id="path511" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 90.846411,165.72665 c 0.1819,-0.14351 0.33235,-0.69283 0.33434,-1.22071 0.006,-1.56225 0.22899,-1.97267 1.57117,-2.89023 0.70163,-0.47965 1.46221,-1.07819 1.69018,-1.33009 0.25747,-0.2845 0.67546,-2.05301 1.10344,-4.66855 0.37892,-2.31581 0.79198,-4.39618 0.91789,-4.62304 0.12591,-0.22686 0.86324,-0.65582 1.6385,-0.95325 1.28394,-0.49258 1.43041,-0.63408 1.64339,-1.5875 0.689629,-3.08716 0.639179,-2.99663 2.143139,-3.84541 1.15226,-0.6503 1.50672,-1.02022 1.83408,-1.91411 0.22317,-0.60942 0.64518,-1.75865 0.93779,-2.55386 0.2926,-0.7952 0.44445,-1.52616 0.33742,-1.62435 -0.10702,-0.0982 -0.90896,-0.38137 -1.78209,-0.62929 -0.87312,-0.24791 -2.95671,-1.10665 -4.630199,-1.90831 -1.98289,-0.94987 -4.20172,-1.75554 -6.3702,-2.31306 -2.50197,-0.64326 -4.05861,-1.23978 -6.27449,-2.40446 -1.62085,-0.85193 -3.26253,-1.84153 -3.64817,-2.19912 -0.6701,-0.62135 -0.69317,-0.73145 -0.5205,-2.48379 0.17869,-1.81341 0.1686,-1.85362 -0.91508,-3.64718 -0.946962,-1.56727 -1.182852,-2.28483 -1.737002,-5.28388 -1.12856,-6.10777 -1.12856,-6.11573 -0.003,-7.64875 l 0.973272,-1.32586 -0.740322,-0.37707 c -0.40718,-0.20738 -1.84487,-0.75097 -3.19487,-1.20797 l -2.45454,-0.83092 -2.644922,1.09767 c -1.454706,0.60372 -2.711156,1.20484 -2.792111,1.33583 -0.08095,0.13099 0.532643,1.332 1.363549,2.6689 l 1.510739,2.43075 -1.158875,1.03777 c -2.484255,2.22466 -8.060002,6.51778 -8.465381,6.51803 -0.235037,1.5e-4 -0.728837,-0.23689 -1.097333,-0.52675 l -0.669991,-0.52702 -0.09329,3.239 -0.09328,3.23899 -1.124479,1.94147 -1.124479,1.94148 v 5.4374 5.43741 l 1.436206,1.74925 c 2.010188,2.44833 3.368908,3.71368 4.838919,4.5064 1.23362,0.66523 1.268834,0.7187 1.397792,2.12224 0.127862,1.3916 0.163303,1.44703 1.058333,1.65521 2.832507,0.65885 3.017496,0.76622 5.063188,2.93888 l 2.020485,2.14588 2.69346,-0.89959 c 2.60284,-0.86931 2.75297,-0.88912 4.461812,-0.58889 0.97259,0.17088 2.19782,0.43279 2.72273,0.58201 l 0.95438,0.27131 0.17159,1.91623 c 0.16262,1.81603 0.2267,1.96465 1.22552,2.84227 0.93242,0.81929 1.10047,1.15481 1.4577,2.91042 0.5792,2.84648 0.43007,2.67637 2.17465,2.48062 0.84064,-0.0943 1.67727,-0.28891 1.85918,-0.43241 z"
                          id="path509" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 147.57548,161.74435 0.0902,-6.432 0.7276,-0.86434 c 0.6939,-0.82431 0.72771,-0.99513 0.7299,-3.68831 0.003,-3.83605 0.23346,-5.56805 0.77931,-5.86018 0.24238,-0.12972 3.79518,-0.80022 7.89512,-1.49 l 7.45444,-1.25415 1.79015,-1.58338 c 0.98458,-0.87086 1.82306,-1.71421 1.8633,-1.87412 0.0402,-0.1599 -0.61461,-0.55162 -1.45521,-0.87048 -0.8406,-0.31886 -2.65946,-1.00457 -4.04191,-1.52381 -1.38244,-0.51924 -2.68226,-1.0382 -2.88848,-1.15325 -0.20622,-0.11506 -1.10472,-2.14867 -1.99665,-4.51915 -0.89194,-2.37047 -1.79477,-4.4059 -2.00631,-4.52317 -0.21153,-0.11727 -1.3371,-0.47582 -2.50126,-0.79677 l -2.11667,-0.58355 -2.24896,-3.07869 c -2.89224,-3.95931 -3.26915,-4.73402 -4.15022,-8.5306 -0.41809,-1.80159 -0.863,-3.15038 -1.03916,-3.15038 -1.07585,0 -7.42131,2.54809 -12.14083,4.87529 l -5.55625,2.73978 -4.04405,0.0169 c -4.6267,0.0194 -3.92511,-0.27322 -7.74537,3.23011 l -2.31313,2.12123 -0.10838,3.36407 c -0.081,2.51534 -0.29647,4.12636 -0.85391,6.38558 -0.90186,3.65513 -1.08617,3.40536 3.25829,4.41557 3.93,0.91384 4.30773,1.07879 8.02681,3.50529 l 3.09943,2.0222 0.0756,2.33812 0.0756,2.33812 2.46226,0.78784 c 1.35424,0.43331 2.50878,0.92897 2.56563,1.10146 0.0569,0.1725 0.14862,1.24793 0.20392,2.38985 l 0.10053,2.07621 -1.14482,0.55619 c -0.62965,0.30591 -1.14602,0.6813 -1.14749,0.83421 -0.002,0.1529 0.26035,1.02692 0.58184,1.94225 l 0.58451,1.66426 -0.70954,2.16434 -0.70954,2.16435 0.8553,0.89027 c 0.47042,0.48966 1.39109,1.20664 2.04594,1.5933 1.0486,0.61916 1.5303,0.71466 4.03837,0.80062 2.69356,0.0923 2.89091,0.13791 3.64483,0.84218 0.43839,0.40952 0.94284,0.80362 1.121,0.87576 0.17816,0.0722 1.77162,0.14059 3.54103,0.15208 l 3.21711,0.0209 z"
                          id="path507" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 117.60736,171.7482 c 0.55706,-1.70997 0.82936,-2.18299 1.41716,-2.46183 0.40018,-0.18985 0.7276,-0.49499 0.7276,-0.6781 0,-0.52738 1.22522,-1.53629 4.49792,-3.70382 l 3.04271,-2.01521 0.68967,-2.14068 0.68968,-2.14068 -0.74102,-2.14001 c -0.84616,-2.44366 -0.75419,-2.89796 0.68267,-3.37216 0.99004,-0.32675 1.30211,-0.94265 1.14705,-2.26383 -0.0802,-0.68318 -0.27865,-0.80174 -2.60034,-1.55332 l -2.51354,-0.81369 -0.0763,-2.4618 -0.0763,-2.46179 -2.62423,-1.70294 c -3.00701,-1.95134 -3.73294,-2.26568 -7.01283,-3.03669 -2.88196,-0.67746 -5.76861,-0.92961 -6.98028,-0.60972 -0.86282,0.22779 -0.93397,0.34962 -1.98706,3.40251 -1.08494,3.14523 -1.10145,3.17236 -2.48535,4.08422 -1.09939,0.72439 -1.44751,1.12887 -1.65096,1.91823 -0.85163,3.30426 -0.70226,3.05569 -2.306969,3.83896 -1.73176,0.84528 -1.68317,0.7357 -2.3194,5.2311 -0.24715,1.74625 -0.53509,3.47266 -0.63985,3.83646 -0.11263,0.39108 -0.85836,1.12912 -1.82437,1.80556 l -1.63388,1.14411 v 1.41757 1.41757 l 3.50573,1.10659 c 1.92815,0.60862 4.339169,1.21642 5.357809,1.35065 1.01864,0.13424 2.72419,0.35936 3.7901,0.50026 1.06591,0.14091 2.75485,0.44198 3.7532,0.66905 1.71492,0.39005 1.89691,0.50593 3.29453,2.09785 1.47585,1.68101 1.97447,1.95618 3.42157,1.88821 0.71554,-0.0336 0.81078,-0.17449 1.45521,-2.15263 z"
                          id="path503" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 179.85623,185.32961 c 0.86513,-0.46111 1.69885,-1.0736 1.85271,-1.36109 0.15386,-0.2875 0.7355,-1.01715 1.29253,-1.62146 l 1.01279,-1.09874 -0.77771,-2.89798 c -0.42774,-1.59388 -0.77781,-2.98443 -0.77794,-3.09009 -1.3e-4,-0.10566 0.43435,-0.41507 0.96551,-0.68758 l 0.96575,-0.49545 -1.24574,-0.8571 c -1.39664,-0.96091 -1.54255,-1.24215 -1.98927,-3.83426 -0.38363,-2.226 -0.3958,-2.24953 -2.40956,-4.65978 -1.2186,-1.45852 -1.57637,-2.06922 -1.45473,-2.48313 0.52157,-1.77478 0.46224,-2.11256 -0.6773,-3.85621 l -1.12395,-1.71979 0.72294,-5.95313 c 0.39761,-3.27421 0.74526,-6.27424 0.77254,-6.66672 0.0436,-0.62778 -0.28046,-0.938 -2.69521,-2.57969 -1.50965,-1.02635 -2.91362,-1.86609 -3.11993,-1.86609 -0.20631,0 -1.37869,0.8774 -2.60529,1.94977 -1.35226,1.18222 -2.57172,2.02409 -3.09778,2.13858 -0.47717,0.10385 -3.81873,0.69924 -7.42568,1.32308 -3.60694,0.62384 -6.60437,1.18055 -6.66095,1.23713 -0.0566,0.0566 -0.20661,1.90134 -0.3334,4.09947 -0.2203,3.81935 -0.26294,4.03512 -0.96155,4.86537 l -0.73102,0.86878 0.0819,6.90631 c 0.0771,6.50589 0.11932,7.01724 0.72771,8.81968 l 0.64583,1.91338 2.57403,0.7997 c 2.21676,0.68869 2.71472,0.9542 3.58751,1.91287 1.51366,1.6626 2.68862,2.82262 4.52177,4.46428 1.51543,1.35713 1.65107,1.56759 1.65107,2.56185 0,0.80747 0.11788,1.11522 0.46302,1.20879 1.02533,0.27798 1.89031,0.42486 4.12866,0.7011 l 2.34271,0.28911 1.40306,-1.08245 1.40306,-1.08246 2.33964,1.32008 c 1.2868,0.72605 2.50157,1.32732 2.69948,1.33617 0.19791,0.009 1.06768,-0.36119 1.93281,-0.8223 z"
                          id="path501" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 134.16537,187.50759 c 1.45881,-0.7441 4.83696,-2.62983 7.507,-4.19052 l 4.85462,-2.83762 1.32454,-3.07088 1.32453,-3.07087 -0.69755,-2.28694 -0.69756,-2.28693 h -3.81875 -3.81875 l -0.97848,-0.8599 c -0.96758,-0.85031 -1.01284,-0.86087 -4.05769,-0.947 l -3.0792,-0.0871 -1.8385,-1.56307 c -1.01117,-0.85968 -2.0042,-1.56463 -2.20672,-1.56654 -0.39661,-0.004 -4.44963,2.5178 -5.66103,3.52195 -0.40567,0.33627 -0.83008,0.96054 -0.94314,1.38726 -0.12733,0.48059 -0.50113,0.91726 -0.98221,1.14743 -0.96184,0.46017 -1.07658,0.63495 -1.45648,2.21858 -0.26961,1.12386 -0.24879,1.33408 0.17899,1.80676 0.38954,0.43045 0.51581,1.15943 0.64645,3.73234 0.14752,2.90527 0.21744,3.24202 0.76529,3.68564 0.34175,0.27674 1.02434,0.48823 1.57576,0.48823 1.061,0 1.59654,0.47129 5.01789,4.41596 l 1.65003,1.90241 1.36929,-0.0932 c 1.00314,-0.0682 2.07852,-0.4549 4.02167,-1.44604 z"
                          id="path499" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 71.571589,189.99893 c 0.87421,-0.51236 1.64763,-1.02566 1.71871,-1.14067 0.0711,-0.115 -0.10203,-1.26734 -0.38468,-2.56076 -0.28264,-1.29341 -0.5139,-2.43975 -0.5139,-2.54741 0,-0.10766 0.48713,-0.75859 1.08252,-1.4465 2.19903,-2.54078 4.04839,-5.39416 6.944902,-10.71525 0.96002,-1.76362 2.28281,-3.17277 3.84409,-4.09504 1.057,-0.62438 1.26403,-1.40012 0.87428,-3.27587 -0.25034,-1.20484 -0.51642,-1.66351 -1.49802,-2.58232 -1.15696,-1.08295 -1.1936,-1.16574 -1.1936,-2.69636 0,-0.86851 -0.12304,-1.65515 -0.27342,-1.74809 -0.15037,-0.0929 -1.13264,-0.22789 -2.182812,-0.2999 -1.68504,-0.11553 -2.22461,-0.023 -4.59207,0.78745 l -2.68266,0.91836 -2.407603,-2.45401 c -1.968611,-2.00656 -2.62119,-2.50779 -3.579048,-2.74898 -1.45221,-0.36567 -8.334928,-1.205 -8.50301,-1.03691 -0.06762,0.0676 -0.880933,1.48181 -1.807366,3.14265 l -1.684427,3.01971 -1.555774,0.18999 c -0.855676,0.10449 -2.627337,0.37581 -3.937024,0.60292 -1.309688,0.22711 -3.036094,0.43927 -3.836458,0.47147 l -1.455209,0.0585 -0.170227,2.41754 c -0.105371,1.49645 -0.5338,3.72575 -1.12448,5.85111 -0.97745,3.51704 -1.14002,4.56364 -0.708882,4.56364 0.134954,0 0.553337,-0.65099 0.929741,-1.44664 l 0.684368,-1.44664 2.179117,0.16059 c 1.198512,0.0883 2.222841,0.19765 2.276287,0.24294 0.05345,0.0453 0.15853,0.62673 0.233524,1.29206 0.105325,0.93444 0.32403,1.36871 0.96116,1.90853 0.714107,0.60504 4.619087,2.571 9.026892,4.54459 l 1.322917,0.59233 2.167451,-0.50537 2.167453,-0.50537 1.204672,1.4841 c 0.66257,0.81625 1.205265,1.63304 1.205987,1.81509 7.94e-4,0.18206 -0.713063,0.88577 -1.586188,1.56382 -0.873125,0.67804 -1.584957,1.30299 -1.581851,1.38878 0.0031,0.0858 0.451041,0.47077 0.995408,0.85552 0.648319,0.45821 1.342421,1.37095 2.012045,2.64583 1.859555,3.54036 1.960639,3.66609 2.947426,3.66609 0.541126,0 1.513663,-0.36535 2.479759,-0.93156 z"
                          id="path497" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 89.736701,194.35539 c 1.45261,-0.50231 1.71911,-0.72965 3.48925,-2.97656 l 1.91654,-2.43271 0.002,-2.11667 c 0.002,-2.12349 0.21642,-2.80862 1.37973,-4.41095 0.41796,-0.57569 0.42113,-0.72987 0.0416,-2.02454 l -0.4108,-1.40139 1.4925,-1.9486 c 0.82088,-1.07173 1.60583,-2.34374 1.74434,-2.82669 0.40995,-1.42943 0.30883,-3.2732 -0.21119,-3.85067 -0.26735,-0.29689 -2.0081,-0.9989 -4.11927,-1.66122 -3.65576,-1.1469 -3.65653,-1.14701 -5.96931,-0.88156 -4.0978,0.47032 -5.63451,1.63918 -8.1161,6.17333 -1.796482,3.28237 -4.590232,7.59762 -5.379512,8.30924 -1.07231,0.96679 -0.75117,1.32719 2.68211,3.01 1.78264,0.87375 4.157882,1.91281 5.278342,2.30903 1.12045,0.39621 2.24298,0.94778 2.4945,1.22572 0.43793,0.4839 0.41659,0.54712 -0.50323,1.49077 l -0.96056,0.98545 1.59798,1.78593 c 0.87888,0.98227 1.68353,1.78594 1.78811,1.78594 0.10457,0 0.89786,-0.24473 1.76287,-0.54385 z"
                          id="path495" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 109.27428,206.25019 c 1.10615,-1.03302 2.01118,-1.98484 2.01118,-2.11515 0,-0.13032 -0.89297,-1.87309 -1.98438,-3.87283 -1.26534,-2.31844 -1.98019,-3.92483 -1.97283,-4.43329 0.007,-0.48712 0.95935,-2.54757 2.44739,-5.2953 l 2.43586,-4.49792 3.10885,-1.5128 c 2.63616,-1.28278 3.1071,-1.60462 3.09732,-2.11667 -0.006,-0.33212 -0.11449,-1.84764 -0.24033,-3.3678 -0.2712,-3.27618 -0.41523,-3.45377 -2.80093,-3.45377 -1.80534,0 -2.00004,-0.11549 -3.6589,-2.17033 -0.80157,-0.99291 -1.28077,-1.32153 -2.37193,-1.62661 -2.39103,-0.66853 -5.92448,-1.26724 -6.97063,-1.18112 l -1.01136,0.0833 -0.13553,2.25124 -0.13553,2.25124 -1.542539,2.04956 -1.54254,2.04955 0.4213,1.23644 c 0.57782,1.69582 0.55024,1.86135 -0.50475,3.0291 -0.91308,1.01068 -0.92604,1.05817 -0.92604,3.39437 v 2.36936 l -1.85208,2.30837 c -1.01865,1.2696 -1.85185,2.43547 -1.85156,2.59082 2.7e-4,0.15534 1.36471,0.75016 3.03205,1.32182 3.29734,1.13051 3.03222,0.87012 3.44159,3.38023 0.12528,0.76818 0.478449,1.25223 1.633839,2.23931 1.54697,1.32162 2.98412,3.2473 4.16294,5.57807 0.47276,0.93472 0.86541,1.38906 1.20045,1.38906 0.27385,0 1.40294,-0.8452 2.50909,-1.87822 z"
                          id="path493" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 124.15841,210.35502 1.79997,-2.27131 2.67768,0.0885 2.67769,0.0885 1.84072,1.22471 1.84071,1.22471 2.31227,-1.40378 c 2.08592,-1.26636 4.04498,-1.97168 5.47645,-1.97168 0.28388,0 0.51614,-0.0702 0.51614,-0.15598 0,-0.0858 -0.8632,-1.59265 -1.91823,-3.34858 -1.05502,-1.75593 -1.89155,-3.26331 -1.85893,-3.34975 0.7988,-2.11722 0.81822,-2.26164 0.41019,-3.05067 -0.35741,-0.69116 -0.36487,-1.31456 -0.0634,-5.29494 0.35106,-4.63491 0.37319,-5.40794 0.16084,-5.62029 -0.0676,-0.0676 -1.77062,0.79771 -3.78451,1.92289 l -3.6616,2.04578 -2.38125,0.10961 -2.38125,0.10961 -1.85209,-2.29264 c -2.29801,-2.84465 -3.65605,-4.09379 -4.45066,-4.09379 -0.89819,0 -3.19694,0.72731 -5.18529,1.64059 -0.95762,0.43986 -1.99069,0.89559 -2.29572,1.01275 -0.69428,0.26666 -5.21882,8.6352 -5.03949,9.32098 0.20291,0.77591 4.10681,7.13293 6.01282,9.79113 1.77541,2.47605 2.35512,3.80574 2.35791,5.4084 l 0.002,0.8478 1.78594,0.0926 c 0.98227,0.0509 2.10447,0.11588 2.49378,0.14438 0.5968,0.0437 0.99021,-0.30448 2.50782,-2.21948 z"
                          id="path491" />
                    <path style="fill:#ffffff;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                          d="m 163.13599,216.56218 0.82666,-0.82666 -0.4017,-1.94237 c -0.22093,-1.06831 -0.82189,-3.06428 -1.33546,-4.43548 -0.51358,-1.37121 -0.93378,-2.63162 -0.93378,-2.80092 0,-0.1693 1.4147,-1.87923 3.14378,-3.79985 7.46233,-8.28897 12.20252,-13.83861 12.13537,-14.20765 -0.0397,-0.21828 -0.6604,-0.71488 -1.3793,-1.10355 -1.42271,-0.76919 -1.69227,-0.72205 -3.31929,0.58048 l -0.66424,0.53176 -4.09826,-0.54194 c -2.25405,-0.29806 -4.30023,-0.60366 -4.54708,-0.67912 -0.30442,-0.0931 -0.50058,-0.53719 -0.60975,-1.38064 -0.0885,-0.6839 -0.21149,-1.49237 -0.27326,-1.79661 -0.0618,-0.30424 -0.92126,-1.25459 -1.90998,-2.11189 -0.98872,-0.8573 -2.2116,-2.05837 -2.71752,-2.66906 -0.96143,-1.16054 -3.42241,-2.40171 -5.02891,-2.53629 -0.70467,-0.059 -0.87762,0.076 -1.4386,1.12352 -0.91236,1.70358 -1.99296,4.10471 -1.99296,4.42844 0,0.15198 -1.23468,0.99657 -2.74374,1.87687 -1.50906,0.88029 -2.80446,1.75876 -2.87867,1.95213 -0.0742,0.19338 -0.3513,2.71335 -0.61576,5.59993 -0.45229,4.93671 -0.45444,5.32266 -0.0362,6.50039 0.41125,1.15787 0.4126,1.33379 0.018,2.3383 l -0.42668,1.08623 2.04968,3.34095 c 1.86072,3.03294 2.16268,3.39155 3.27535,3.88973 2.16639,0.96998 3.32088,1.60101 4.26837,2.33302 1.8863,1.45732 9.93764,6.05745 10.62913,6.07294 0.0979,0.002 0.55008,-0.368 1.00473,-0.82266 z"
                          id="path489"
                          inkscape:label="path489" />
                </g>
            </svg>
        </div>
    </div>
    <br />
    <h4 class="text-center" style="margin:10px"><b>Wydarzenia, które mogą Cię zainteresować</b></h4>
    <div class="row" id="ListaEventow">
        @foreach (var item in ViewBag.BestEvents)
        {
            <a class="EventLink text-center" asp-controller="MainEvents" asp-action="Details" asp-route-id="@item.MainEventId">
                <div class="card card-block SingleEvent text-center">
                    <h4 class="card-title mt-3 mb-3">@item.title</h4>
                    @{
                        var base64 = Convert.ToBase64String(item.picture);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src='@imgSrc' style="max-width:200px; max-height:200px; margin-inline:auto" />
                    <p class="card-text">
                        <ul style="list-style-type:none;">
                            <li style="text-align:left"><i class="fa fa-location-arrow" style="font-size:15px"></i>@item.Place.name, @item.Place.city</li>
                            <li style="text-align:left"><i class="fa fa-calendar" style="font-size:15px"></i>@item.dateStart</li>
                        </ul>
                    </p>
                </div>
            </a>
        }
    </div>
    @*<div class="pagination" style="margin-left: 400px">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>*@
</div>
<script>
    //pomorskie
    $('#path523').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path523').css({ fill: "#F00" });
        $@pr="pomorskie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "@pr", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("pomorskie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //warmińsko-mazurskie
    $('#path521').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path521').css({ fill: "#F00" });
        $@pr="warmińsko-mazurskie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "warmińsko-mazurskie", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("warmińsko-mazurskie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //zachodniopomorskie
    $('#path519').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path519').css({ fill: "#F00" });
        $@pr="zachodniopomorskie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "zachodniopomorskie", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("zachodniopomorskie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //podlaskie
    $('#path517').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path517').css({ fill: "#F00" });
        $@pr="podlaskie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "podlaskie", category: "@cat"},
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("podlaskie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //kujawsko-pomorskie
    $('#path515').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path515').css({ fill: "#F00" });
        $@pr="kujawsko-pomorskie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "kujawsko-pomorskie", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("kujawsko-pomorskie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //lubuskie
    $('#path511').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path511').css({ fill: "#F00" });
        $@pr="lubuskie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "lubuskie", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("lubuskie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //wielkopolskie
    $('#path509').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path509').css({ fill: "#F00" });
        $@pr="wielkopolskie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "wielkopolskie", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("wielkopolskie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //mazowieckie
    $('#path507').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path507').css({ fill: "#F00" });
        $@pr="mazowieckie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "mazowieckie", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("mazowieckie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //łódzkie
    $('#path503').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path503').css({ fill: "#F00" });
        $@pr="łódzkie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "łódzkie", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("łódzkie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //lubelskie
    $('#path501').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path501').css({ fill: "#F00" });
        $@pr="lubelskie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "lubelskie", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("lubelskie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //świętokrzyskie
    $('#path499').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path499').css({ fill: "#F00" });
        $@pr="świętokrzyskie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "świętokrzyskie", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("świętokrzyskie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //dolnośląskie
    $('#path497').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path497').css({ fill: "#F00" });
        $@pr="dolnośląskie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "dolnośląskie", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("dolnośląskie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //opolskie
    $('#path495').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path495').css({ fill: "#F00" });
        $@pr="opolskie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "opolskie", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("opolskie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //śląskie
    $('#path493').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path493').css({ fill: "#F00" });
        $@pr="śląskie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "śląskie", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("śląskie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //małopolskie
    $('#path491').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path491').css({ fill: "#F00" });
        $@pr="małopolskie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "małopolskie", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("małopolskie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
    //podkarpackie
    $('#path489').click(function () {
        $('#path523, #path521, #path519, #path517, #path515, #path511, #path509, #path507, #path503, #path501, #path499, #path497, #path495, #path493, #path491, #path489').css({ fill: "#ffffff" });
        $('#path489').css({ fill: "#F00" });
        $@pr="podkarpackie";
        $.ajax({
            url: '@Url.Action("SearchByProvince", "MainEvents")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: "podkarpackie", category: "@cat" },
            success: function (res) {
                $('#grdProvince').html(res);
                $('#StartListDiv').hide();
                $('#ProvinceSpan').text("podkarpackie");
            },
            error: function (err) {
                console.log(err);
            }
        })
    });
</script>